<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button>
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-button>
     </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="header">
    <img alt="" src="assets/image5.png"/>
  </div>

  <form id="form" [formGroup]="signUpForm" (ngSubmit)="signUpWithEmail()">

    <div formcontrolName="type"></div>
    <ion-item class="ion-margin-bottom">
      <ion-input type="text" formControlName="name" placeholder="Name"></ion-input>
      <ion-icon name="person" slot="start"></ion-icon>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="signUpForm.get('name')?.hasError(validation.type) && (signUpForm.get('name')?.dirty || signUpForm.get('name')?.touched)">
            <ion-icon color="red" name="information-circle"> </ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>    
      
      <ion-item class="ion-margin-bottom">
        <ion-input type="number" formControlName="age" placeholder="Age" ></ion-input>
        <ion-icon name="mail" slot="start"></ion-icon>
      </ion-item>

      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.age">
          <div class="error-message" *ngIf="signUpForm.get('age')?.hasError(validation.type) && (signUpForm.get('age')?.dirty || signUpForm.get('email')?.touched)">
            <ion-icon color="red" name="information-circle"> </ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>    

      <ion-item class="ion-margin-bottom">
        <ion-select placeholder="Select Gender" formControlName="gender">
          <ion-select-option value="male">Male</ion-select-option> 
          <ion-select-option value="female">Female</ion-select-option>
          <ion-select-option value="others">Others</ion-select-option>
          </ion-select>   
        <ion-icon name="male-female" slot="start"></ion-icon>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.gender">
            <div class="error-message" *ngIf="signUpForm.get('gender')?.hasError(validation.type) && (signUpForm.get('gender')?.dirty || signUpForm.get('gender')?.touched)">
              <ion-icon color="red" name="information-circle"> </ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>    
        
    <ion-item class="ion-margin-bottom">
      <ion-input type="text" formControlName="email" placeholder="Enter Email Address"></ion-input>
      <ion-icon name="mail" slot="start"></ion-icon>
    </ion-item>
    <div class="error-container">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="signUpForm.get('email')?.hasError(validation.type) && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)">
          <ion-icon color="red" name="information-circle"> </ion-icon>
          <span>{{ validation.message }}</span>
        </div>
      </ng-container>
    </div>    

    <ion-item class="ion-margin-bottom">
      <ion-input type="password" formControlName="password" placeholder="Enter Password"></ion-input>
      <ion-icon name="lock-closed" slot="start"></ion-icon>
    </ion-item>
    <div class="error-container">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="signUpForm.get('password')?.hasError(validation.type) && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)">
          <ion-icon color="red" name="information-circle"></ion-icon>
          <span>{{ validation.message }}</span>
        </div>
      </ng-container>
    </div>
    
    <ion-button type="submit" expand="block" shape="round" [disabled]="!signUpForm.valid">SIGN UP</ion-button>
    <p class="bottom">Don't have an account? <a style="text-decoration: none" href="/loginpt">SIGN UP</a></p>
    <p class="or">--OR--</p>
    <div class="socialMedia">
      <ion-icon name="logo-facebook" ></ion-icon>
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-icon name="logo-google"></ion-icon>
    </div>
  </form>
</ion-content>